{% extends "publica/base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Home</h1>
    </div>

    <div class="container">
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, praesentium provident recusandae rem est, consequatur vero illo dignissimos deleniti quas at, debitis perferendis consequuntur itaque nihil eos maiores enim qui!
        <br>
        {% filter lower %}
            Texto con Filtro convertido en Minuscula
        {% endfilter %}
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>


</main>

{% endblock %}