{% extends 'publica/base.html' %}
{% block title %}Reclamos{%endblock title %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Reclamo</h1>
    </div>
    <div class="container py-3">
        <div class="col-md-6 mb-md-0 mb-6">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{message}}
            </div>
            {% endfor %}
            <form id="reclamo-form" name="reclamo-form" action="{% url 'reclamos' %}" method="POST" novalidate>
                {% csrf_token %}    
                {% for campo in reclamo_form %}
                    <div class="mb-3">
                        <label class="form-label">{{ campo.label }}</label>
                        {{campo}}
                        <div >{{campo.errors}}</div>
                    </div>
                {% endfor %}
                <div class="text-center text-md-left mb-3">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </form>
            <div class="status"></div>
        </div>  
    </div>
</main>

{% endblock content%}