{% for campo in formulario %}
    <div class="mb-3">
        {% if campo.errors %}
            <label class="form-label text-danger">{{campo.label}}</label>
        {% else %}
        <label class="form-label">{{campo.label}}</label>
        {% endif %}
        {{campo}}
    </div>
{% endfor %}
<div class="row mt-3">
    <div class="col-12">
        <input type="submit" value="Guardar" class="btn btn-success">
        <a href="{% url 'edificios_index' %}" class="btn btn-secondary">Cancelar</a>        
    </div>
</div>