{% extends "administracion/base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Actividad</h1>
    </div>
    <div class="container">
      <div class="w-75">
        <canvas id="myChart"></canvas>
      </div>
    </div>    
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: JSON.parse("{{meses|escapejs}}"),
      datasets: [{
        label: '# Reclamos x Mes',
        data: JSON.parse("{{numero_reclamos}}"),
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>


{% endblock %}